/*
  Inject Tailwind's base styles and use the Twin Macro with emotion to use
  the rest of Tailwind's classes in the project
*/
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Fondamento;
  src: url("../fonts/Fondamento/Fondamento-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: Fondamento I;
  src: url("../fonts/Fondamento/Fondamento-Italic.ttf");
  font-display: swap;
}
@font-face {
  font-family: Cinzel;
  src: url("../fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: Cinzel B;
  src: url("../fonts/Cinzel_Decorative/CinzelDecorative-Black.ttf");
  font-display: swap;
}
@font-face {
  font-family: Cinzel Bl;
  src: url("../fonts/Cinzel_Decorative/CinzelDecorative-Bold.ttf");
  font-display: swap;
}

:root {
  --main-bg-color: #11001c;
  --text-color: #e0e2db;
  --highlight: #7e54c6;
  --purple: #35012c;
  --pale-silver: #bfb5af;
}
body {
  background-color: var(--pale-silver);
}
.hero::after {
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 40%, rgb(0, 0, 0) 100%),
    url("../images/usein/smoke.png");
  border-bottom-color: rgb(102, 102, 102);
  border-left-color: rgb(102, 102, 102);
  border-right-color: rgb(102, 102, 102);
  border-top-color: rgb(102, 102, 102);
  outline-color: rgb(102, 102, 102);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8 !important;
  z-index: 0;
}
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero > * {
  z-index: 10;
  position: relative;
}
.passText {
}
/* bottom: 0;
height: 50px;
width: 100%;
background-color: #333;
opacity: 0.8 !important;
background: transparent; */
